<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= {{ url_for ('static', filename='styles.css')}}>
    <title>Em-macro-pipeline</title>
</head>
<body class="body">
    <h1>Dashboard</h1>
    <p>USD-PKR exchange rate: {{ FX_rate }}</p>
    <p>KSE100 data: {{ KSE100_data }}</p>
    <p>Current SBP policy rate: {{ policy_rate }}</p>
    <p> Current SBP net reserves: {{ net_reserves }}</p>
</body>
</html>